---
import { ABOUT } from '../lib/data'

interface Props {
    locale: string
}

const { locale } = Astro.props

const texts = locale === 'es' ? ABOUT.es : ABOUT.en

---
<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>{texts.text1}</p>
        <p>{texts.text2}</p>
        <p>{texts.text3}</p>
        <p>{texts.text4}</p>
    </div>
</article>