<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-white transition bg-gray-900 border border-gray-700 rounded-full dark:bg-gray-100 dark:border-gray-300 dark:text-black focus-visible:ring-yellow-500/80 text-md hover:bg-gray-100 hover:border-gray-300 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:border-gray-600 dark:hover:text-white group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>
